body {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    background-color: #265455;
    color: #FFFFFF;
    font-family: serif;
    font-size: 16px;
}

#title {
    margin: 0.5em auto;
    text-align: center;
}

#content-column {
    width: 80vw;
    max-width: 800px;
    min-width: 300px;
    margin: 1em auto;
}

.date-block {
    background-color: #066C6E;
    border: solid #104041;
    box-shadow: 8px 8px 0 0 #104041;
    margin: 1em 0;
    padding: 1em;
    border-radius: 5px;
}

.movie {
    display: flex;
    align-items: flex-start;
    background-color: #104041;
    border: solid #066C6E;
    box-shadow: 5px 5px 0 0 #066C6E;
    margin: 0.5em 0;
    padding: 0.5em;
    border-radius: 5px;
	transition: transform 0.12s ease;

	height: 180px;
}

.movie:hover {
	transform: scale(1.02);
}

.movie-info-other {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
	flex: 1;
    overflow: hidden;
}

.movie-info {
    flex: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 8;
    overflow: hidden;
}

.movie-title {
    font-size: 1.1em;
    color: #FFFFFF;
}

.movie-title, .movie-genres, .movie-rating {
    white-space: normal;
    word-break: break-word;
    line-height: 1.2em;
}

#historic-btn {
	background-color: #066C6E;
    color: #FFFFFF;
    border: solid 3px #104041;
    box-shadow: 5px 5px 0 0 #104041;
    padding: 0.5em 1em;
    border-radius: 5px;
    font-family: serif;
    font-size: 1em;
    cursor: pointer;
    transition: transform 0.1s;
}

#recent-btn {
	background-color: #066C6E;
    color: #FFFFFF;
    border: solid 3px #104041;
    box-shadow: 5px 5px 0 0 #104041;
    padding: 0.5em 1em;
    border-radius: 5px;
    font-family: serif;
    font-size: 1em;
    cursor: pointer;
    transition: transform 0.1s;
	display: none;
}

#show-more-btn {
	display: block;
	margin: 1em auto;
	background-color: #066C6E;
    color: #FFFFFF;
    border: solid 3px #104041;
    box-shadow: 5px 5px 0 0 #104041;
    padding: 0.5em 1em;
    border-radius: 5px;
    font-family: serif;
    font-size: 1em;
    cursor: pointer;
    transition: transform 0.1s;
}

.poster {
  width: 120px;
  aspect-ratio: 2 / 3;
  object-fit: cover;
  border-radius: 5px;
  margin-right: 1em;
  /* background-color: #104041;*/
  /* border: 2px solid #066C6E; */
}

.controls {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 1em 0;
}

.button-group {
	display: flex;
	gap: 0.5em;
}

.credit {
	display: flex;
	align-items: center;
	gap: 0.4em;
	font-size: 1em;
	opacity: 0.85;
}

.logo-cd {
	width: 28px;
	height: auto;
	image-rendering: pixelated;
}

.logo-announcement {
	width: 32px;
	height: auto;
	image-rendering: pixelated;
}

.logo-up {
	width: 21px;
	height: 22px;
	image-rendering: pixelated;
}

#popup-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

#popup {
  background-color: #066C6E;
  color: #FFFFFF;
  padding: 1rem 1.25rem;
  border-radius: 5px;

  border: solid 3px #104041;
  /* box-shadow: 8px 8px 0 0 #104041; */

  max-width: 400px;
  width: 80vw;
  
  position: relative;
  font-family: serif;
}

#popup h3 {
  margin-top: 0;
  margin-bottom: 0.5em;
  font-size: 1.2em;
}


#popup p {
  margin: 0.4em 0;
  text-align: left;
}

#popup-close {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;

  background-color: #104041;
  color: #FFFFFF;
  border: solid 2px #066C6E;
  box-shadow: 3px 3px 0 0 #066C6E;

  font-family: serif;
  font-size: 0.9em;
  padding: 0.1em 0.4em;
  border-radius: 3px;
  cursor: pointer;
}

#popup-close:hover {
  transform: translate(-1px, -1px);
}


#popup-overlay.hidden {
  display: none;
}

.popup-header {
  display: flex;
  gap: 1em;
  align-items: flex-start;
}

.popup-meta h3 {
  margin: 0 0 0.3em 0;
}

.popup-meta p {
  margin: 0.25em 0;
}

.popup-overview {
  margin-top: 0.75em;
  padding-top: 0.5em;
  border-top: 2px solid #104041;
}

.popup-overview p {
  margin: 0;
  line-height: 1.4;
  text-align: left;
}

#announcement-btn {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.tabs {
	display: flex;
	gap: 0.5em;
	margin: 0 0 -0.2em 0;
	justify-content: flex-start;
	position: relative;
	z-index: 2;
}

.tab {
    padding: 0.3em 0.8em;
    font-family: serif;
    font-size: 0.95em;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    border: 3px solid #104041;
    border-radius: 5px 5px 0 0;
    background-color: #265455;
    color: #FFFFFF;
	z-index: 2;
}

.tab:first-child {
    margin-left: 10px;
}

.tab.active {
    background-color: #066C6E;
}

.tabs-line {
    height: 3px;
    background-color: #104041;
    width: 100%;
    margin-bottom: -3px;
}

#scroll-top-btn {
	position: sticky;
	bottom: 20px;
	float: right;
	margin-right: -35px;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
	transition: transform 0.1s;
}

#scroll-top-btn:hover {
    transform: translate(-1px, -1px);
}

#announcement-btn:hover {
    transform: translate(-1px, -1px);
}

#content-column {
	position: relative;
}
