body {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    background-color: #265455;
    color: #FFFFFF;
    font-family: serif;
    font-size: 16px;
}

h1, p {
    margin: 0.5em auto;
    text-align: center;
}

#content-column {
    width: 80vw;
    max-width: 800px;
    min-width: 300px;
    margin: 1em auto;
}

/* Date rectangle */
.date-block {
    background-color: #066C6E;
    border: solid #104041;
    box-shadow: 8px 8px 0 0 #104041;
    margin: 1em 0;
    padding: 1em;
    border-radius: 5px;
}

/* Movie rectangle */
.movie {
    display: flex;
    align-items: center;
    background-color: #104041;
    border: solid #066C6E;
    box-shadow: 5px 5px 0 0 #066C6E;
    margin: 0.5em 0;
    padding: 0.5em;
    border-radius: 5px;
}

.movie-title {
    font-size: 1.1em;
    color: #FFFFFF;
}

#historic-btn {
	background-color: #066C6E;
    color: #FFFFFF;
    border: solid 3px #104041;
    box-shadow: 5px 5px 0 0 #104041;
    padding: 0.5em 1em;
    border-radius: 5px;
    font-family: serif;
    font-size: 1em;
    cursor: pointer;
    transition: transform 0.1s;
}

#show-more-btn {
	display: block;
	margin: 1em auto;
	background-color: #066C6E;
    color: #FFFFFF;
    border: solid 3px #104041;
    box-shadow: 5px 5px 0 0 #104041;
    padding: 0.5em 1em;
    border-radius: 5px;
    font-family: serif;
    font-size: 1em;
    cursor: pointer;
    transition: transform 0.1s;
}

.poster {
  width: 120px;
  aspect-ratio: 2 / 3;
  object-fit: cover;
  border-radius: 5px;
  margin-right: 1em;
  /* background-color: #104041;*/
  /* border: 2px solid #066C6E; */
}

